body {
    font-family: Inter, sans-serif;
    margin: 0;
    margin-top: 100px;
    background-color: #10243f;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info {
    margin-bottom: 40px;
    display: flex;
    padding-bottom: 40px;
    align-items: center;
    position: relative;
}

.info::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 1px;
    background-color: #ccc;
}

.info-last {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.label {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    margin-bottom: 3px;
}

.content {
    font-size: 20px;
    color: #000000;
}

.content a {
    color: black;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

span a {
    color: black;
    text-decoration: none;
}

span a:hover {
    text-decoration: underline;
}

.container-element {
    display: flex;
    align-items: center;
}

.container-element .logo {
    order: -1;
    margin-right: 15px;
}

.profile-picture {
    text-align: center;
    margin-top: -50px;
    margin-bottom: 50px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media Queries */

@media (max-width: 768px) {
    .container {
        padding: 30px;
    }

    .label {
        font-size: 20px;
    }

    .content {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .container {
        border-radius: 10px;
        max-width: 100%;
        margin: 0;
    }

    .profile-img {
        width: 250px;
        height: 250px;
    }

    .label {
        font-size: 24px;
    }

    .content {
        font-size: 22px;
    }
}

