body {
    font-family: Inter, sans-serif;
    margin: 0;
    margin-top: 100px;
    background-color: #10243f;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info {
    margin-bottom: 40px;
    display: flex;
    padding-bottom: 40px;
    align-items: center;
    position: relative;
}

.info::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 1px;
    background-color: #ccc;
}

.info-last {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.label {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    margin-bottom: 3px;
}

.content {
    font-size: 20px;
    color: #000000;
}

.content a {
    color: black;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

span a {
    color: black;
    text-decoration: none;
}

span a:hover {
    text-decoration: underline;
}

.container-element {
    display: flex;
    align-items: center;
}

.container-element .logo {
    order: -1;
    margin-right: 15px;
}

.profile-picture {
    text-align: center;
    margin-top: -50px;
    margin-bottom: 50px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media Query pour iPhone 5/SE */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {
    .container {
        padding: 30px;
    }
    
    .label {
        font-size: 20px;
    }
    
    .content {
        font-size: 16px;
    }
    
    .profile-img {
        width: 150px;
        height: 150px;
    }
}

/* Media Query pour iPhone 6/7/8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) {
    .container {
        padding: 40px;
    }
    
    .label {
        font-size: 22px;
    }
    
    .content {
        font-size: 18px;
    }
    
    .profile-img {
        width: 170px;
        height: 170px;
    }
}

/* Media Query pour iPhone 6/7/8 Plus */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) {
    .container {
        padding: 40px;
    }
    
    .profile-img {
        width: 190px;
        height: 190px;
    }
}

/* Media Query pour iPhone X */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-device-pixel-ratio: 3) {
    .container {
        padding: 40px;
    }
    
    .profile-img {
        width: 190px;
        height: 190px;
    }
}

/* Media Query pour iPhone XR/XS Max/11/11 Pro Max */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 896px) 
  and (-webkit-device-pixel-ratio: 2) {
    .container {
        padding: 40px;
    }
    
    .profile-img {
        width: 200px;
        height: 200px;
    }
}

/* Media Query pour iPhone 12/12 Pro */
@media only screen 
  and (min-device-width: 390px) 
  and (max-device-width: 844px) 
  and (-webkit-device-pixel-ratio: 3) {
    .container {
        padding: 40px;
    }
    
    .profile-img {
        width: 200px;
        height: 200px;
    }
}

/* Media Query pour iPhone 12 Mini */
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 780px) 
  and (-webkit-device-pixel-ratio: 3) {
    .container {
        padding: 40px;
    }
    
    .profile-img {
        width: 180px;
        height: 180px;
    }
}

/* Media Query pour iPhone 12 Pro Max */
@media only screen 
  and (min-device-width: 428px) 
  and (max-device-width: 926px) 
  and (-webkit-device-pixel-ratio: 3) {
    .container {
        padding: 40px;
    }
    
    .profile-img {
        width: 220px;
        height: 220px;
    }
}
